@model IEnumerable<ENTITY.Uye>

@{
    ViewBag.Title = "Admin Listesi";
}
<p></p>
<p></p>
<p></p>
<h2>Admin Listesi</h2>

<p>
    @Html.ActionLink("Admin Ekle", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover table-responsive-sm text-center">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UyeAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UyeSoyadi)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UyeEposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UyeTelefon)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UyeAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UyeSoyadi)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UyeEposta)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UyeTelefon)
            </td>
            <td>
                @*@Html.ActionLink("Güncelle", "Edit", new { id=item.UyeID },new { @class="btn btn-warning" }) |*@
                @Html.ActionLink("Sil", "Delete", new { id = item.UyeID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize emin misiniz?')" })
            </td>
        </tr>
    }

</table>
<p></p>
<p></p>

